html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(33, 33, 33);
    overflow-x: hidden;
}

#pacman {
    position: absolute;
    height: 60px;
    top: 0px;
    width: auto;
    padding: 0px 10px 0px 10px;
    background: rgb(48, 48, 48);
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}

#guides-list {
    height: calc(100% - 140px);
    width: calc(100% - 10px);
    margin: 5px;
    background: rgb(48, 48, 48);
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 0px;
    max-width: 750px;
}

#guides-list>li {
    width: calc(100% - 25px);
    margin: 2.5px;
    padding: 5px;
    background: rgb(61, 61, 61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    border-radius: 5px;
    max-width: 650px;
    font-size: 20px;
    transition: background 0.2s;
}

#guides-list>li:hover {
 background: rgba(0, 0, 0, 0.2);
}

#guides-list>li>a {
    text-decoration: none;
    color: white;
    font-family: Helvetica, sans-serif;
}

#extra {
    position: absolute;
    bottom: 0px;
    width: auto;
    height: 60px;
    background: rgb(48, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 10px;
}

#extra>a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#extra>a>img {
    padding: 4px;
    margin: 4px;
    border-radius: 10px;
    filter:saturate(0%);
    transition:  background 0.2s, scale 0.2s;
}

#extra>a>img:hover {
    background: rgb(40, 40, 40);
    scale:105%;
}