body,
html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(33, 33, 33);
}

#pacman {
    position: absolute;
    height: 60px;
    top: 0px;
    width: calc(100% - 10px);
    background: rgb(48, 48, 48);
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}
#guides-list{
    height: calc(100% - 140px);
    width:calc(100% - 10px);
    margin:5px;
    background: rgb(48, 48, 48);
    border-radius: 10px;
}
#extra{
    position: absolute;
    bottom:0px;
    width: auto;
    height:60px;
    background: rgb(48, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5px;
    border-radius: 10px;
}
#extra > a{
    display: flex;
    align-items: center;
    justify-content: center;
}
#extra > a > img{
    padding:4px;
    margin:4px; 
    border-radius: 10px;
}
#extra > a > img:hover{
background:rgb(40,40,40)
}